<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/general.css}" />
</head>
<body>
<form action="/updateCount" method="post">
    <h1 th:text="${user} + ' cart'"></h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Update Quantity</th>
        </tr>
        <tbody>
        <tr th:each = "entry : ${basket.getItems()}">
            <td th:text = "${entry.getKey()}"></td>
            <td th:text = "${entry.getValue()}"></td>
            <td><input type="text" th:name="${entry.getKey()}"  /></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Update</button>
    <br/>
    <br/>
    <a th:href="@{/toAddNewItem}">Add new item!</a><br/>
    <br/>
    <br/>
    <a th:href="@{/toDeleteItem}">Delete item!</a>
    <br/>
    <br/>
    <a th:href="@{/toUpdateItem}">Update name and cost here!</a>
</form>

<!--<form action="/updateName" method = "post">-->
<!--    <tr th:each = "entry : $basket.getItems()}">-->
<!--        <td><input type="checkbox" id=entry.getKey() name=entry.getKey() value=entry.getKey()  ></td>-->
<!--        <td th:text = "${entry.getKey()}"></td>-->
<!--        <td th:text = "${entry.getValue()}"></td>-->
<!--    <tr/>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <br/>-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->

</body>
</html>


