<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/general.css}" />
</head>
<body>
<form action="/deleteItem" method = "post">
    <tr th:each = "entry : ${basket.getItemsValues()}">
        <td><input type="checkbox" th:id=${entry.getKey()} name=checkboxes th:value=${entry.getKey()}  checked></td>
        <td th:text = "${entry.getKey()}"></td>
        <td th:text = "${entry.getValue()}"></td>
        <br/><br/>

    </tr>
    <br/>
    <input type="submit" value="Delete!">
</form>
</body>