<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/general.css}" />
</head>

<body>

<h1>Add new Item!</h1>
<br/><br/><br/>
<form action="/addNewItem" method="post">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" />

    <label for="price">Price: </label>
    <input type="text" id="price" name="price" />

    <button type="submit">Add!</button>
</form>

</body>
</html>