<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/general.css}" />
</head>
<body>
<form action="/updateItem" method = "post">
    <tr th:each = "entry : ${basket.getItemsValues()}">
        <td th:text = "${entry.getKey()}"></td>
        <td th:text = "${entry.getValue()}"></td>
        <br/><br/>
        <label for="name">New name: </label>
        <input type="text" id="name" th:name="${entry.getKey()}" />
        <label for="price">New price: </label>
        <input type="text" id="price" th:name="${entry.getKey()}" />

    <tr/>
    <br/>
    <input type="submit" value="Delete!">
</form>
</body>