<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Shopping Cart Users</h1>
<!--    <form action="#" th:action="@{/updateUser}" method="post">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <th>User</th>-->
<!--                <th>Delete</th>-->
<!--            </tr>-->
<!--            <tr th:each="user : ${users}">-->
<!--                <td th:text="${user}">User</td>-->
<!--                <td><input type="checkbox" th:name="userToDelete" th:value="${item}" /></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <button type="submit">Update Users</button>-->
<!--    </form>-->
    <form action="/updateUser" method = "post">
        <tr th:each = "user : ${users}">
            <td th:text = ${user}>User</td>
            <td><input type="checkbox" name=userToDelete th:value=${user} th:id="${user}"></td>
            <br/>

        </tr>
        <br/>
        <input type="submit" value="Delete!">
    </form>
    <div>
        <a href="/toAddNewUser">Add new user</a>
        <a href="/toLogOut">Logout</a>
    </div>
</body>
</html>
